<div class ="background row">
  <div class="welcome-container col s12 m6">
    <h1>What is</br>Creative Tech Kids?</h1>
    <h4 class= "center-align">
      We are a registered non-profit organization that partners with public libraries to make technology education accessible to all children.
    </h4>
  </div>
</div>

<!-- <section>
  <h1>Check out what we've been up to</h1>
  <div class="row">
    <% @instagram.each do |instagram| %>
    <div class="col m4">
      <%= image_tag instagram.images.standard_resolution.url %>
    </div>
    <% end %>
  </div>
</section> -->
