<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Logo -->
      <%= image_tag 'Creative-Tech-Kids.png', class: 'mdl-layout-title' %>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Mission</a>
        <a class="mdl-navigation__link" href="">Support</a>
        <a class="mdl-navigation__link" href="">Contact</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><%= image_tag 'Creative-Tech-Kids.png', class: 'mdl-layout-title' %></span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Mission</a>
        <a class="mdl-navigation__link" href="">Support</a>
      <a class="mdl-navigation__link" href="">Contact</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
        <h1 id="first-section">Coming Soon!</h1>

      <!-- <section class="mdl-grid contact">
        <h2>Contact Us</h2>
      </section>

      <section class="board-members">
        <h2>Board of Directors</h2>
        <div class="mdl-grid">
          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Evelyn</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenan convallis.
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                View Updates
              </a>
            </div>
          </div>

          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Kyra</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenan convallis.
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                View Updates
              </a>
            </div>
          </div>

          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Marilu</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenan convallis.
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                View Updates
              </a>
            </div>
          </div>

          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Taryn</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenan convallis.
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                View Updates
              </a>
            </div>
          </div>
        </div>
      </section> -->

    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo"><%= image_tag 'Creative-Tech-Kids.png', class: 'mdl-layout-title' %></div>
      </div>
      <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
          <li>
            <p>Creative Tech Kids, Inc.<br>
            8235 NE 2nd Ave #108<br>
            Miami, FL 33138</p>
          </li>
          <!-- <li><a href="#">Privacy & Terms</a></li> -->
        </ul>
      </div>
    </footer>
  </main>
</div>
