
<div class="relative-container">
<div class ="section-1-background row">
  <div class="welcome-container col s12 m6">
    <h1>What is</br>Creative Tech Kids?</h1>
    <h4 class= "center-align">
      We are a registered non-profit organization that partners with public libraries to make technology education accessible to all children.
    </h4>
  </div>
</div>
</div>

<div class ="section-2-background row center-align" style="margin-top:800px;">
  <div class="container">
    <div class="icon-section-background">
      <i class="material-icons">lightbulb_outline</i>
      <h4>Code</h4>
    </div>
    <div class="icon-section-background">
      <i class="material-icons">lightbulb_outline</i>
      <h4>Creativity</h4>
    </div>
    <div class="icon-section-background">
      <i class="material-icons">lightbulb_outline</i>
      <h4>Teamwork</h4>
    </div>
  </div>
</div>


<div class="">
  Information Seeking
</div>
<!-- <section>
  <h1>Check out what we've been up to</h1>
  <div class="row">
    <% @instagram.each do |instagram| %>
    <div class="col m4">
      <%= image_tag instagram.images.standard_resolution.url %>
    </div>
    <% end %>
  </div>
</section> -->
