
  <h1> These are some helpful resources to learn about coding </h1>
  <div class="row center-align">
    <div class="col s3">1</div>
    <div class="col s3">2</div>
    <div class="col s3">3</div>
    <div class="col s3">4</div>
    <div class="col s3">1</div>
    <div class="col s3">2</div>
    <div class="col s3">3</div>
    <div class="col s3">4</div>
    <div class="col s3">1</div>
    <div class="col s3">2</div>
    <div class="col s3">3</div>
    <div class="col s3">4</div>
  </div>
