<div class="">
<p id="notice"><%= notice %></p>

<h1>Creative Tech Kids Blog</h1>
  <% @posts.each do |post| %>
  <div class="row">
    <div class="blog-post col m6">
      <%= link_to (post) do %>
       <h3><%=post.title %></h3>
       <% end %>
      <p><%= markdown(truncate(post.content, length: 250, omission: '...Read More')) %></p>
    </div>
  </div>
  <% end %>
</div>
