// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: 'ProximaNova-Light';
}

h1 {
  font-family: 'ProximaNova-Bold';
}
/* Navigation Bar */
.nav-wrapper{
  background: #fff;
  a {
    color: #333;
  }
}

.brand-logo {
  height: 50px;
}
/* Footer */
.mdl-mini-footer {
  background-color: #eee;
}

.footer-address {
  float: right;
}
