// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: 'ProximaNova-Light';
}

h1 {
  font-family: 'ProximaNova-Bold';
}
/* Navigation Bar */
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: #333333;
}
.mdl-layout-title {
  height: 50px;
}
.mdl-navigation__link {
  color: #333333 !important;
}

/* Mission Section */

#first-section {
  text-align: center !important;
  text-transform: uppercase;
  color: #fff;
  background: #333;
}

/* Board of Directors Section */
.demo-card-square.mdl-card {
  width: 300px;
  height: 300px;
  padding: 3%;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/maxsleepstairs.jpg') bottom right 15% no-repeat #46B6AC;
}

/* Contact Section */

/* Footer */
.mdl-mini-footer {
  background-color: #eee;
}

.footer-address {
  float: right;
}
