<footer class="page-footer">
    <div class= "left">
      <%= image_tag 'Creative-Tech-Kids.png', class: 'brand-logo' %>
    </div>
    <div class="right">
      Creative Tech Kids, Inc.<br>
      8235 NE 2nd Ave #108<br>
      Miami, FL 33138
      © 2016
    </div>
  </div>
</footer>
