<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    <p class= "left">
      Creative Tech Kids, Inc.<br>
      8235 NE 2nd Ave #108<br>
      Miami, FL 33138
    </p>
      <%= image_tag 'Creative-Tech-Kids.png' %>
    <p class="right">
      © 2016
    </p>
    </div>
  </div>
</footer>
