<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo"><%= image_tag 'Creative-Tech-Kids.png', class: 'mdl-layout-title' %></div>
  </div>
  <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
      <li>
        <p>Creative Tech Kids, Inc.<br>
        8235 NE 2nd Ave #108<br>
        Miami, FL 33138</p>
      </li>
      <!-- <li><a href="#">Privacy & Terms</a></li> -->
    </ul>
  </div>
</footer>
