<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Logo -->
      <%= image_tag 'Creative-Tech-Kids.png', class: 'mdl-layout-title' %>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Mission</a>
        <a class="mdl-navigation__link" href="">Resources</a>
        <a class="mdl-navigation__link" href="">Contact</a>
        <!-- <a class="mdl-navigation__link" href="">Link</a> -->
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <%= image_tag 'Creative-Tech-Kids.png', class: 'mdl-layout-title' %>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Mission</a>
      <a class="mdl-navigation__link" href="">Resources</a>
      <a class="mdl-navigation__link" href="">Contact</a>
      <!-- <a class="mdl-navigation__link" href="">Link</a> -->
    </nav>
  </div>
  <main class="mdl-layout__content">
  </main>
</div>
